@import "_open-props.min.css";
@import "_reset.css";
@import "_photoswipe.css";

:root {
  /* Base colors are from Canva palette generator using header image */
  --palette-base-light: #dbb6cf;
  --palette-base-light-rgb: 219, 182, 207;
  --palette-base-dark: #995493;
  --palette-base-dark-rgb: 153, 84, 147;
  --palette-base-text: #292546;
  --palette-base-text-rgb: 41, 37, 70;
  --palette-base-accent: #9b452b;
  --palette-base-accent-rgb: 155, 69, 43;

  /* Old theme colors derived from previous palette generation */
  --theme-light-color-old: #f5ecf2;
  --theme-light-border-color-old: #ebdae6;
  --theme-dark-color-old: #744270;
  --theme-text-color-old: #2f2560;

  /* var(--palette-base-light)  lightened by 75% at https://mdigi.tools/lighten-color */
  --theme-light-color: #f6edf3;
  /* var(--palette-base-light)  lightened by 50% at https://mdigi.tools/lighten-color */
  --theme-light-border-color: #eddae7;
  /* var(--palette-base-dark)  darkened by 24% at https://mdigi.tools/darken-color */
  --theme-dark-color: #744070;
  --theme-text-color: var(--theme-text-color-old);

  --media-lg-breakpoint: 1024px;
  --media-sm-breakpoint: 360px;
}

body {
  font-size: var(--font-size-3);
  line-height: 1.5;
  color: var(--gray-9);

  /* There are three direct children of body: header, main, and footer */
  display: flex;
  flex-direction: column;
  gap: var(--size-9);
}

body > main {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;

  flex: 1;
  /* The direct children of main are all sections */
  display: flex;
  flex-direction: column;
  gap: var(--size-9);
}

@media (min-width: 1024px) {
  body {
    font-size: var(--font-size-3);
    gap: var(--size-10);
  }
}

h1,
h2 {
  font-family: "Dancing Script", system-ui, sans-serif;
  font-size: var(--font-size-fluid-3);
  line-height: 1.2;
  text-align: center;
  color: var(--theme-text-color);
  margin: 0 0 var(--size-8);
}

p {
  margin: 0;
}

p + p {
  margin-top: var(--size-5);
}

img {
  border-radius: var(--radius-3);
}

/*** HEADER ***/

body > header {
  background-color: var(--theme-light-color);
  border-bottom: 1px solid var(--theme-light-border-color);
  box-shadow: var(--shadow-2);
  padding: 1rem 1rem var(--size-7);
}

.header img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
  margin-top: var(--size-2);
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 0rem;
}

.header nav li {
  display: flex;
}

.header nav a {
  font-size: var(--font-size-3);
  text-decoration: none;
  color: var(--theme-text-color);
  padding: 0.5rem 1rem;
}

.header nav a:hover,
.header nav a:active,
.header nav a:focus {
  border-radius: var(--radius-4);
  background-color: var(--theme-dark-color);
  color: var(--theme-light-color);
}

.header nav a.btn {
  display: inline-block;
  font-size: var(--font-size-3);
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--radius-4);
  color: var(--theme-light-color);
  background-color: var(--theme-dark-color);
  padding: 0.5rem 1.5rem;
}

.header nav a.btn:hover,
.header nav a.btn:active,
.header nav a.btn:focus {
  opacity: 0.8;
}

@media (min-width: 480px) {
  .header nav a {
    font-size: var(--font-size-4);
    padding: 0.5rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .header nav {
    flex-direction: row;
    justify-content: center;
    gap: var(--size-7);
  }
}

/*** INTRO ***/

.intro {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}

@media (min-width: 1024px) {
  .intro {
    max-width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--size-9);
  }

  .intro-text,
  .intro-image {
    flex: 1;
  }
}

/*** GALLERIES ***/

.gallery {
  display: grid;
  gap: var(--size-9);
}

.gallery a {
  display: block;
  border: 2px solid var(--gray-2);
  border-radius: var(--radius-3);
  overflow: hidden;
}

.gallery img {
  border-radius: var(--radius-1);
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/*** FOOTER ***/

body > footer {
  /* margin-block-start: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--theme-dark-color);
  color: var(--theme-light-color);
  padding: 0 5rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}
